node_modules/**
node_modules/socket.io/node_modules/socket.io-client/node_modules/engine.io-client/node_modules/ws/node_modules/nan/.index.js
node_modules/socket.io/node_modules/engine.io/node_modules/ws/node_modules/nan/.index.js
